bin/
obj/
.vs/
*.user
.vscode/
# debian packaging byproducts (the .deb itself lives outside the repo)
*.deb
*.buildinfo
*.changes
debian/files
debian/publish/
debian/scriptsuite/
debian/.installed-size
# dh sequencer byproducts
debian/.debhelper/
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/debhelper-build-stamp
